{%extends 'index.html'%}
{%block contant%}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Employees Entry</h2>
    </div>
</header>

{%for x in messages%}
<div class="alert alert-danger" role="alert">
    {{x}}
</div>
{%endfor%}
<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Employees entry Form</h3>
            </div>
            <div class="card-body">
                <form action="{%url 'hrentrysave'%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Employees ID</label>
                            <textarea placeholder="Employees ID" class="form-control" name="eid"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Employees Name</label>
                            <input type="text" placeholder="Employees Name" class="form-control" name="name">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Employees Depertment</label>
                            <input type="text" placeholder="Employees Depertment" class="form-control" name="depertment">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Employees Designation</label>
                            <input type="text" placeholder="Employees Designation" class="form-control" name="designation">
                        </div>

                        <div class="form-group col-md-12">
                            <label class="form-control-label">Employees Phone</label>
                            <input type="text" placeholder="Supplier Phone" class="form-control" name="phone">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Employees Email</label>
                            <input type="text" placeholder="Supplier Email" class="form-control" name="email">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Present Address</label>
                            <textarea placeholder="Present Address" class="form-control" name="paddress"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Permanent Address</label>
                            <textarea placeholder="Permanent Address" class="form-control" name="peraddress"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Supplier Table</h3>

                <h3 class="h4">Item Table</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Supplier Name</th>
                            <th>Supplier Address</th>
                            <th>Supplier Phone</th>
                            <th>Supplier Email</th>

                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for x in supplier%}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{x.Suppliername}}</td>
                            <td>{{x.Address}}</td>
                            <td>{{x.Phone}}</td>
                            <td>{{x.Email}}</td>
                            <td><a href="{%url 'supplierentryedit' x.id%}" class="btn btn-primary">Edit</a></td>
                            <td><a href="{%url 'supplierentrydelete' x.id%}" class="btn btn-danger">Delete</a></td>

                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

{%endblock%}