{%extends 'index.html'%}
{%block contant%}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Item Entry</h2>
    </div>
</header>

{%for x in messages%}
<div class="alert alert-danger" role="alert">
    {{x}}
</div>
{%endfor%}
<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Item entry Form</h3>
            </div>
            <div class="card-body">
                <form action="{%url 'itementrysave'%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Purchange Date</label>
                            <input type="date" placeholder="Purchange Date" class="form-control" name="date">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Purchange Invoice No</label>
                            <input type="text" placeholder="Purchange Invoice No" class="form-control" name="pno">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Unit Name</label>
                            <div>
                                <select class="custom-select" name="unit" required>
                                    <option value="">Select menu Unit Name</option>
                                    {%for x in suplier%}
                                    <option value="{{x.id}}">{{x.Suppliername}}</option>
                                    {%endfor%}
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                        <div class="form-group col-md-10"></div>
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-outline-primary" id="add"><i
                                    class="fas fa-plus">Add</i></button>
                        </div>


                        <div class="form-group col-md-4" id="sel">
                            <label class="form-control-label">Item Name</label>
                            <div id="otm">
                                <select class="custom-select" name="unit" required>
                                    <option value="">Select menu Unit Name</option>
                                    {%for x in item%}
                                    <option value="{{x.id}}">{{x.Itemname}}</option>
                                    {%endfor%}
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                        <div class="form-group col-md-2" id="qtyd">
                            <label class="form-control-label">Quantity</label>
                            <input type="text" placeholder="Quantity" class="form-control" name="uty" id="qty" >
                        </div>
                        <div class="form-group col-md-2" id="upriced">
                            <label class="form-control-label">Unit Price</label>
                            <input type="text" placeholder="Unit Price" class="form-control" name="uprice" id="uprice">
                        </div>
                        <div class="form-group col-md-2" id="vatd">
                            <label class="form-control-label">Vat</label>
                            <input type="text" placeholder="Vat" class="form-control" name="vat" id="vat">
                        </div>
                        <div class="form-group col-md-2" id="lessd">
                            <label class="form-control-label">Price Less</label>
                            <input type="text" placeholder="Price Less" class="form-control" name="less" id="less">
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Item Table</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Unit name</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {%for x in item%}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{x.Itemname}}</td>
                            <td>{{x.Unit}}</td>
                            <td><a href="{%url 'itementryedit' x.id%}" class="btn btn-primary">Edit</a></td>
                            <td><a href="{%url 'itementrydelete' x.id%}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
$(document).ready(function(){
  $("#add").click(function(){
    $("#otm").clone().appendTo("#sel");
    $("#qty").clone().appendTo("#qtyd");
    $("#uprice").clone().appendTo("#upriced");
    $("#vat").clone().appendTo("#vatd");
    $("#less").clone().appendTo("#lessd");
  });
});



</script>
{%endblock%}