{%extends 'index.html'%}
{%block contant%}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Purchage Entry</h2>
    </div>
</header>

{%for x in messages%}
<div class="alert alert-danger" role="alert">
    {{x}}
</div>
{%endfor%}
<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Purchage entry Form</h3>
            </div>
            <div class="card-body">
                <form action="{%url 'purchangeentrysave'%}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Purchange Date</label>
                            <input type="date" placeholder="Purchange Date" class="form-control" name="date">
                        </div>
                        {%for x in inv%}
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Purchange Invoice No</label>
                            <input type="text" placeholder="Purchange Invoice No" class="form-control" name="pno"
                                   value="{{x.invs}}">
                        </div>
                        {%endfor%}
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Supplier Name</label>
                            <div>
                                <select class="custom-select" name="sname" required>
                                    <option value="">Select menu Unit Name</option>
                                    {%for x in suplier%}
                                    <option value="{{x.id}}">{{x.Suppliername}}</option>
                                    {%endfor%}
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6" id="vatd">
                            <label class="form-control-label">Vat</label>
                            <input type="text" placeholder="Vat" class="form-control" name="vat" id="vat">
                        </div>
                        <div class="form-group col-md-6" id="lessd">
                            <label class="form-control-label">Price Less</label>
                            <input type="text" placeholder="Price Less" class="form-control" name="less" id="less">
                        </div>
                        <div class="form-group col-md-10"></div>
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-outline-primary" id="add"><i
                                    class="fas fa-plus">Add</i></button>
                        </div>
                        <div class="form-group col-md-6" id="sel">
                            <label class="form-control-label">Item Name</label>
                            <div id="otm">
                                <select class="custom-select" name="item" required>
                                    <option value="">Select menu Unit Name</option>
                                    {%for x in item%}
                                    <option value="{{x.Itemname}}">{{x.Itemname}}</option>
                                    {%endfor%}
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3" id="qtyd">
                            <label class="form-control-label">Quantity</label>
                            <input type="text" placeholder="Quantity" class="form-control" name="qty" id="qty">
                        </div>
                        <div class="form-group col-md-3" id="upriced">
                            <label class="form-control-label">Unit Price</label>
                            <input type="text" placeholder="Unit Price" class="form-control" name="uprice" id="uprice">
                        </div>


                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Purchage Table</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="container">
                    <div class="row hed">

                        {%for x in purx%}
                        <div class="col-md-4">
                            <p><b>Purchage Date:</b> {{x.Pdate}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>Supplier Name:</b> {{x.Supplier_name.Suppliername}}</p>
                        </div>
                        <div class="col-md-2">
                            <p><b>Invoice No:</b> {{x.Invoice_no}}</p>
                        </div>
                    </div>
                    </div>
                        {%endfor%}
                    <div class="container">
                        <div class="row head">
                        <div class="col-md-2"></div>
                        <div class="col-md-2 co"><b>#</b></div>
                        <div class="col-md-2 co"><b>Item Name</b></div>
                        <div class="col-md-2 co"><b>Quantity</b></div>
                        <div class="col-md-2 co"><b>Unit Price</b></div>
                        <div class="col-md-2 co"><b>Total</b></div>

                        {%for x in p%}
                        <div class="col-md-2"></div>
                        <div class="col-md-2 co">{{forloop.counter}}</div>
                        <div class="col-md-2 co">{{x.Item_name}}</div>
                        <div class="col-md-2 co">{{x.Quantity}}</div>
                        <div class="col-md-2 co">{{x.Rate}}</div>
                        <div class="col-md-2 co">{{x.Total}}</div>
                         {%endfor%}

                        {%for x in sumation%}
                        <div class="col-md-4"></div>
                        <div class="col-md-2 co">Total</div>
                        <div class="col-md-2 co">{{x.sumQuantity}}</div>
                        <div class="col-md-2 "></div>
                        <div class="col-md-2 co">{{x.sTotal}}</div>

                        <div class="col-md-8"></div>
                        <div class="col-md-2 co">Vat</div>
                        <div class="col-md-2 co">{{x.vat}}</div>

                        <div class="col-md-8"></div>
                        <div class="col-md-2 co">Sub Total</div>
                        <div class="col-md-2 co">{{x.subtotal}}</div>


                        <div class="col-md-8"></div>
                        <div class="col-md-2 co">Less</div>
                        <div class="col-md-2 co">-{{x.less}}</div>


                        <div class="col-md-8"></div>
                        <div class="col-md-2 co">Grand Total</div>
                        <div class="col-md-2 co">{{x.Grant_total}}</div>



                         {%endfor%}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
$(document).ready(function(){
  $("#add").click(function(){
    $("#otm").clone().appendTo("#sel");
    $("#qty").clone().appendTo("#qtyd");
    $("#uprice").clone().appendTo("#upriced");

  });
});





</script>
{%endblock%}