{%extends 'index.html'%}
{%block contant%}
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Purchage Entry</h2>
    </div>
</header>

{%for x in messages%}
<div class="alert alert-danger" role="alert">
    {{x}}
</div>
{%endfor%}
<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <form action="{%url 'purchagepdf'%}" method="POST">
                 {%csrf_token%}
                <div class="row">
                    <div class="form-group col-md-10">

                        <input type="text" placeholder="Invoice No" class="form-control" name="invoiceno">
                    </div>
                    <div class="form-group col-md-2">
                        <input type="submit" value="PDF" class="btn btn-success" formtarget="_blank">
                </div>
                </div>
            </form>
        </div>
    </div>
</section>


{%for x in dfc%}
<section class="dashboard-counts no-padding-bottom">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-close">
                <div class="dropdown">
                    <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#"
                                                                                                              class="dropdown-item remove">
                        <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                            class="fa fa-gear"></i>Edit</a></div>
                </div>
            </div>
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">Purchage entry Form</h3>
            </div>
            <div class="card-body">
                <form action="{%url 'purchangeupdate'%}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Purchange Date</label>
                            <input type="date" placeholder="Purchange Date" class="form-control" name="date" value="{{x.pex.Pdate|date:'Y-m-d'}}" >

                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Purchange Invoice No</label>
                            <input type="text" placeholder="Purchange Invoice No" class="form-control" name="pno"
                                   value="{{x.pex.Invoice_no}}">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-control-label">Supplier Name</label>
                            <div>
                                <select class="custom-select" name="sname" required>
                                    <option value="{{x.pex.Supplier_name.id}}">{{x.pex.Supplier_name}}</option>

                                    {%for x in suplier%}
                                    <option value="{{x.id}}">{{x.Suppliername}}</option>
                                    {%endfor%}
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6" id="vatd">
                            <label class="form-control-label">Vat</label>
                            <input type="text" placeholder="Vat" class="form-control" name="vat" id="vat" value="{{x.pex.Vat}}">
                        </div>
                        <div class="form-group col-md-6" id="lessd">
                            <label class="form-control-label">Price Less</label>
                            <input type="text" placeholder="Price Less" class="form-control" name="less" id="less" value="{{x.pex.Less}}">
                        </div>

                        <div class="form-group col-md-10"></div>
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-outline-primary" id="add"><i
                                    class="fas fa-plus">Add</i></button>
                        </div>
                        {%for y in disc%}
                        <div class="form-group col-md-6" id="sel">
                            <label class="form-control-label">Item Name</label>
                            <div id="otm">
                                <select class="custom-select" name="item" required>
                                    <option value="{{y.Item_name}}">{{y.Item_name}}</option>
                                    {%for x in item%}
                                    <option value="{{x.Itemname}}">{{x.Itemname}}</option>
                                    {%endfor%}
                                </select>
                                <div class="invalid-feedback">Example invalid custom select feedback</div>
                            </div>
                        </div>
                        <div class="form-group col-md-3" id="qtyd">
                            <label class="form-control-label">Quantity</label>
                            <input type="text" placeholder="Quantity" class="form-control" name="qty" id="qty" value="{{y.Quantity}}">
                        </div>
                        <div class="form-group col-md-3" id="upriced">
                            <label class="form-control-label">Unit Price</label>
                            <input type="text" placeholder="Unit Price" class="form-control" name="uprice" id="uprice" value="{{y.Rate}}">
                        </div>
                        <div class="" id="dd" hidden>
                            <label class="form-control-label">Unit Price</label>
                            <input type="text" placeholder="Unit Price" class="form-control" name="ids" id="dd" value="{{y.id}}">
                        </div>
                        {%endfor%}
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                        {%for x in dfc%}
                        <a href="{%url 'purchangedelete' x.pex.Invoice_no%}" class="btn btn-primary">Delete</a>
                        {%endfor%}


                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
 {%endfor%}

<script>
$(document).ready(function(){
  $("#add").click(function(){
    $("#otm").clone().appendTo("#sel");
    $("#qty").clone().appendTo("#qtyd");
    $("#uprice").clone().appendTo("#upriced");

  });
});









</script>
{%endblock%}